<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cxy.spring.boot.test.redis.mapper.TestMapper">

    <insert id="insertTestBath" parameterType="java.util.List">
        insert into cl_test (login_name, login_pwd) value
        <if test="list != null and list.size() > 0">
            <foreach collection="list" item="item" index="index" separator=",">
                (#{item.loginName},#{item.loginPwd})
            </foreach>
        </if>
    </insert>

</mapper>